@model PatentSpoiler.App.DTOs.AddItemDisplayViewModel
@{
    ViewBag.Title = string.Format("New item");
    Layout = "~/Views/Shared/_Layout.cshtml";
    Bundles.Reference("scripts/custom/item", "end");
}

@section head{
    <script>
        window.category = '@Model.Category';
    </script>
}

<div ng-app="item" ng-controller="AddItemController">

    <h2>Add a new item</h2>
    
    <form name="addForm" novalidate role="form" ng-submit="add()">
        <div class="form-group" ng-class="{'has-error': addForm.name.$invalid && addForm.name.$pristine && submitted}">
            <label for="name">Name</label>
            <input type="text" required ng-minlength="5" class="form-control" ng-model="item.name" id="name" name="name" placeholder="name" />
            <span class="help-block" ng-show="addForm.name.$error.required && addForm.name.$pristine && submitted">Required</span>
            <span class="help-block" ng-show="addForm.name.$error.minlength && addForm.name.$pristine && submitted">Please enter at least 5 characters</span>
        </div>

        <div class="form-group" ng-class="{'has-error': addForm.description.$invalid && addForm.description.$pristine && submitted}">
            <label for="description">Description</label>
            <input type="text" required ng-minlength="50" class="form-control" ng-model="item.description" id="description" name="description" placeholder="description" />
            <span class="help-block" ng-show="addForm.description.$error.required && addForm.description.$pristine && submitted">Required</span>
            <span class="help-block" ng-show="addForm.description.$error.minlength && addForm.description.$pristine && submitted">Please enter at least 50 characters</span>
        </div>
        <div class="form-group" ng-class="{'has-error': addForm.description.$invalid && addForm.description.$pristine && submitted}">
            <label>Categories</label><br />
            <popup-category-chooser selected-items="item.categories"></popup-category-chooser>
            
            <ul>
                <li ng-repeat="category in item.categories | orderBy:category.Id">
                    {{category.Id}}
                    <span ng-click="removeCategory(category.Id)" class="glyphicon glyphicon-remove-sign"></span>
                </li>
            </ul>
        </div>
        <button type="submit" ng-disabled="working" class="btn btn-default">Save your item</button>

    </form>
</div>