@using PatentSpoiler.App
@model PatentSpoiler.App.DTOs.Item.EditItemDisplayViewModel
@{
    ViewBag.Title = "Edit your item";
    
    Bundles.Reference("scripts/custom/item", "end");
}

@section head{
    <script>
        'use strict';
        window.item = @Html.Raw(Html.ToJson(Model));

        window.item.attachments = [
        {
            id: '9047b117-abbb-4ae1-bc5f-aebd3d4340c0',
            size: 65535,
            type: 'image/jpeg',
            name: 'some-image.jpg'
        },
        {
            id: '9047b117-abbb-4ae1-bc5f-aebd3d4340c1',
            size: 1024,
            type: 'text/plain',
            name: 'contract.txt'
        },
        {
            id: '9047b117-abbb-4ae1-bc5f-aebd3d4340c2',
            size: 51200,
            type: 'image/gif',
            name: 'animated.gif'
        }];
    </script>
}

<div ng-app="item" ng-controller="EditItemController">

    <h2>Edit your item</h2>

    <form name="editForm" novalidate role="form" ng-submit="update()">
        <div class="form-group" ng-class="{'has-error': editForm.name.$invalid && editForm.name.$pristine && submitted}">
            <label for="name">Name</label>
            <input type="text" required ng-minlength="5" class="form-control" ng-model="item.name" id="name" name="name" placeholder="name" />
            <span class="help-block" ng-show="editForm.name.$error.required && editForm.name.$pristine && submitted">Required</span>
            <span class="help-block" ng-show="editForm.name.$error.minlength && editForm.name.$pristine && submitted">Please enter at least 5 characters</span>
        </div>

        <div class="form-group" ng-class="{'has-error': editForm.description.$invalid && editForm.description.$pristine && submitted}">
            <label for="description">Description</label>
            <textarea rows="10" required ng-minlength="50" class="form-control" ng-model="item.description" id="description" name="description" placeholder="description"></textarea>
            <span class="help-block" ng-show="editForm.description.$error.required && editForm.description.$pristine && submitted">Required</span>
            <span class="help-block" ng-show="editForm.description.$error.minlength && editForm.description.$pristine && submitted">Please enter at least 50 characters</span>
        </div>
        <div class="form-group" ng-class="{'has-error': editForm.description.$invalid && editForm.description.$pristine && submitted}">
            <label>Categories</label><br />
            <popup-category-chooser selected-items="item.categories"></popup-category-chooser>
            <ul>
                <li ng-repeat="category in item.categories | orderBy:category.Id">
                    {{category.Id}}
                    <span ng-click="removeCategory(category.Id)" class="glyphicon glyphicon-remove-sign"></span>
                </li>
            </ul>
        </div>
        <button type="submit" ng-disabled="working" class="btn btn-default">Save your item</button>

        <hr/>

        <ul>
            <li ng-repeat="item in item.attachments">{{item}}</li>
        </ul>
        <popup-file-upload-wrapper upload-uri="uploadAttachmentPath" existing-files="item.attachments" success-callback="filesUploaded"></popup-file-upload-wrapper>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>