@model PatentSpoiler.App.DTOs.Item.DisplayItemViewModel
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
    Bundles.Reference("scripts/custom/item", "end");
}

@section head{
    
}

<div ng-app="item" ng-controller="AddItemController">

    <h2>@Model.Name</h2>
    
    <div class="row">
        <div class="col-md-1">Owner</div>
        <div class="col-md-11"><a href="/user/@Model.Owner">@Model.Owner</a></div>
    </div>
    <div class="row">
        <div class="col-md-1">Categories</div>
        <div class="col-md-4">
            <ul>
                @foreach (var category in Model.Categories)
                {
                    <li>@category</li>
                }
            </ul>
        </div>
    </div>
    <div class="row">
        @Model.Description
    </div>
</div>