@model PatentSpoiler.App.DTOs.CategoryListDisplayViewModel
@{
    ViewBag.Title = string.Format("Patents for {0}", Model.Category);
    Layout = "~/Views/Shared/_Layout.cshtml";
    Bundles.Reference("scripts/custom/category", "end");
}

@section head{
    <script>
        window.category = '@Model.Category';
    </script>
}

<div ng-app="category" ng-controller="CategoryListController">

    <h2>Patents registered under @Model.Category</h2>
    
    <p class="text-info bg-info" ng-if="noItems()">No items have been registered under {{category}}, be the first to <a ng-href="/item/add/{{category}}">add one</a></p>

    <ul>
        <li ng-repeat="item in items">{{item.name}}: {{item.description}} ({{item.attachmentCount}} attachments). Uploaded by {{item.owner}}</li>
    </ul>
    <button type="button" ng-disable="working" ng-click="moreItems()" ng-if="moreItemsAllowed()">Showing {{items.length}} of {{itemCount}}</button>
</div>