@using PatentSpoiler.Models
@model dynamic

@{
  ViewBag.Title = "title";
}

@if (ViewBag.results!=null && Enumerable.Any(ViewBag.results))
{
    <ul>
        @foreach (Node result in ViewBag.results)
        {
        <li>@result.ClassificationSymbol</li>
        }
    </ul>
}

<form action="/Home/SearchForTerm">
    <input type="text" name="term"/>
    <input type="submit" />
</form>