@model dynamic

@{
  ViewBag.Title = "Welcome";
  Bundles.Reference("scripts/custom/home", "end");
}

<div ng-app="home">
    
    <form action="/Home/SearchForTerm">
        @Html.TextBox("term")
        <input type="submit" />
    </form>

</div>

