@using PatentSpoiler.Models
@model dynamic

@{
  ViewBag.Title = "title";
}

@if (ViewBag.results != null && Enumerable.Any(ViewBag.results))
{
    <ul>
        @foreach (PatentHierrachyNode result in ViewBag.results)
        {
            <li>@result.ClassificationSymbol</li>
        }
    </ul>
}

<form action="/Home/SearchForTerm">
    @Html.TextBox("term")
    <input type="submit" />
</form>