@model dynamic

@{
    ViewBag.Title = "Welcome";
    Bundles.Reference("scripts/custom/home", "end");
}

<div ng-app="home">
    <div ng-controller="HomeController">

        <form ng-submit="performSearch()">
            <input type="text" ng-model="term" />
            <input type="submit" />
        </form>
        
        <div ng-repeat="result in searchResults">
            
            <hierrachy-view tree="result"></hierrachy-view>
        </div>
        
    </div>

</div>

