@model dynamic

@{
    ViewBag.Title = "login";
    Bundles.Reference("scripts/custom/login", "end");
}

<h2>Log in!</h2>
<div ng-app="login" ng-controller="loginController">
    <form role="form" novalidate id="loginForm" name="loginForm" ng-cloak class="ng-cloak" ng-submit="submit()">

        <div class="form-group has-error" ng-repeat="error in serverErrors">
            <span class="help-block">{{error}}</span>
        </div>

        <div class="form-group" ng-class="{'has-error': loginForm.username.$invalid && loginForm.username.$pristine && submitted}">
            <label class="col-sm-2 control-label" for="username">Username</label>
            <input type="text" name="username" id="username" ng-model="username" required class="form-control" />
            <span class="help-block" ng-show="loginForm.username.$error.required && loginForm.username.$pristine && submitted">Please enter your username</span>
        </div>

        <div class="form-group" ng-class="{'has-error': loginForm.password.$invalid && loginForm.password.$pristine && submitted}">
            <label class="col-sm-2 control-label" for="password">Password</label>
            <input type="password" name="password" id="password" ng-model="password" required class="form-control" />
            <span class="help-block" ng-show="loginForm.password.$error.required && loginForm.password.$pristine && submitted">Please enter your password again</span>
        </div>

        <div ng-cloak class="form-group" ng-class="{'has-error': loginForm.passwordConfirmation.$invalid && loginForm.passwordConfirmation.$pristine && submitted}" ng-if="mode=='register'">
            <label class="col-sm-2 control-label" for="passwordConfirmation">Password (again)</label>
            <input type="password" name="passwordConfirmation" id="passwordConfirmation" ng-model="$parent.passwordConfirmation" class="form-control" match="password" ng-required="{{mode=='register'}}" />
            <span class="help-block" ng-show="loginForm.passwordConfirmation.$error.required && loginForm.passwordConfirmation.$pristine && submitted">Please enter your password again</span>
            <span class="help-block" ng-show="loginForm.passwordConfirmation.$error.match && loginForm.passwordConfirmation.$pristine && submitted">Passwords may not differ</span>
        </div>

        <div ng-cloak class="form-group" ng-class="{'has-error': loginForm.email.$invalid && loginForm.email.$pristine && submitted}" ng-if="mode=='register'">
            <label class="col-sm-2 control-label" for="email">Email</label>
            <input type="email" name="email" id="email" ng-model="$parent.email" class="form-control" ng-required="{{mode=='register'}}" />
            <span class="help-block" ng-show="loginForm.email.$error.required && loginForm.email.$pristine && submitted">Please enter your email address</span>
            <span class="help-block" ng-show="loginForm.email.$error.email && loginForm.email.$pristine && submitted">Please enter a valid email address</span>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="rememberMe" id="rememberMe" ng-model="rememberMe" />Remember me
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10" ng-if="mode=='login'">
                <button class="btn btn-default" type="submit">Log in</button>
                <span class="text-muted">or </span>
                <a href="#" ng-click="switchToRegister()">register</a>
            </div>
            <div class="col-sm-offset-2 col-sm-10" ng-if="mode=='register'">
                <button class="btn btn-default" type="submit">Register</button>
                <span class="text-muted">or </span>
                <a href="#" ng-click="switchToLogin()">log in</a>
            </div>
        </div>

    </form>

</div>