@model dynamic

@{
    ViewBag.Title = "login";
}

<h2>Log in!</h2>

<form method="POST" role="form" id="loginForm" name="loginForm">
    @Html.AntiForgeryToken()
    <div class="form-group" ng-class="{'has-error': addForm.name.$invalid && addForm.name.$pristine && submitted}">
        <label class="col-sm-2 control-label" for="Username">Username</label>
        @Html.TextBox("Username", "", new { required = "required", @class = "form-control" })
        <span class="help-block" ng-show="loginForm.Username.$error.required && loginform.Username.$pristine">Required</span>
    </div>
    
    <div class="form-group" ng-class="{'has-error': addForm.name.$invalid && addForm.name.$pristine && submitted}">
        <label class="col-sm-2 control-label" for="Password">Password</label>
        @Html.Password("Password", "", new { required = "required", @class = "form-control" })
        <span class="help-block" ng-show="loginForm.Password.$error.required && loginform.Password.$pristine">Required</span>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    @Html.CheckBox("RememberMe", true) Remember me
                </label>
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default" type="submit">Log in</button>
        </div>
    </div>

</form>