<ul class="search-item">
    <li>
        <span ng-click="toggleExpansion()">{{symbol}}</span>
        <strong>
            <label ng-if ="mode=='select'">
                {{tree.Id}}
            </label>
            <a ng-show="mode!='select'" ng-href="/category/{{tree.Id}}">{{tree.Id}}</a>
        </strong>
        - {{tree.Description}}
    </li>
    <li ng-if="tree.Child!=null && show">
        <category-hierrachy-view tree="tree.Child" mode="{{mode}}" topic="{{topic}}" template-url="/scripts/custom/_common/directives/categoryHierrachyView.html"></category-hierrachy-view>
    </li>
</ul>