<div class="container">
    <div ng-repeat="item in uploader.queue" class="row" ng-class="{'field-validation-error':item.isUploaded && !item.isSuccess}">

        <div class="col-md-3">{{item.file.name}}</div>
        <div class="col-md-2">
            <div class="progress">
                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }">
                    {{item.progress}}% of {{item.file.size | prettyFileSize}}
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                <span class="glyphicon glyphicon-upload"></span> Upload
            </button>
            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                <span class="glyphicon glyphicon-trash"></span> Remove
            </button>
        </div>

    </div>
</div>

<div>
    Total progress:
    <div class="progress">
        <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
    </div>
</div>

<span class="btn btn-default btn-file">
    Choose files<input type="file" class="no-help" nv-file-select uploader="uploader" multiple />
</span>
<button class="btn" ng-click="uploadAll()" type="button">Upload All!</button>
<button class="btn" ng-click="done()" type="button">Done</button>

