<div style="max-height: 200px; overflow:auto">
    <div ng-if="items.length>0" ng-repeat="item in items">
        <a ng-href="/item/{{item.id}}">
            {{item.dateUpdated | date : 'dd/MMM/yyyy HH:mm'}}
        </a> : {{commentFor(item.changes)}}
    </div>
    <div ng-if="items.length==0 && working==false">No previous versions</div>
</div>
<div ng-show="working"><img src="/content/spinner.gif" title="searching..." /></div>
<div ng-show="showMore && !working">
    <button type="button" ng-click="moreItems()">More</button>
</div>